@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: #0d012a;
  margin: 0;
  padding-bottom: 30px;
}

header {
  background-color: #0d012a;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.brand-name {
  font-size: 1.5em;
  margin-left: 10px;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

.menu {
  height: 0;
  width: 100%;
  background-color: #0d012a;
  position: fixed;
  top: 0;
  color: white;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 60px; */
  z-index: 1;

}

.menu.open {
  height: 100%;
}

.menu-content {
  padding: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-bottom: 40px;
  margin-left: 13px;
}

.profile > * {
  margin-bottom: 5px;
  font-size: 12px;
}


.menu.open {
  padding: 30px;
}

.closeMenu {
  position: absolute;
  bottom: 50%;
  right: 87px;
  color: white;
}

.closeMenu i {
  color: white;
}

.profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 30px;
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-items li {
  padding: 10px;
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: 0;
  font-weight: lighter;
}

.menu-items li a {
  color: white;
  text-decoration: none;
}

.menu-items li i {
  margin-right: 10px;
}

img {
max-width: 100%;
height: auto;
border-radius: 5px;;
}

details,div#private {
  border: 1px solid #e5e5e55f;
  padding: 10px;
  background: rgba(25, 9, 62, 0.99);
  margin-top: 10px;
  color: white;
}
.headi {
 color: white;
}

.inputi {
  padding: 10px 20px;
  width: 300px;
  border-radius: 6px;
  border: none;
}
.glassy-button {
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(135deg, #FFFFFF, #E0E0E0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.15);
  color: #333;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.glassy-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 4px 16px rgba(0, 0, 0, 0.15);
}


.tab-container {
  width: 100%; /* Adjust width as needed */ 
  margin: 20px auto;
  /* padding: 20px; */
}

.tab-menu {
  display: flex;
  border-bottom: 1px solid #dcdada;
  margin-left: 20px;
  margin-right: 20px;
}

.tab-button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: transparent;
  border-bottom: 2px solid transparent; /* Initially transparent */
  transition: border-bottom 0.3s ease;
}

.tab-button.active {
  border-bottom: 2px solid blue; /* Active tab underline */
  background-color: blue;
  border-radius: 3px 3px 0 0;
}

.tab-content {
  /* padding: 20px; */
  display: none; /* Initially hide all content */
}

.tab-content.active {
  display: block; /* Show active content */
}



#energylevel {
  font-size: 19px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #0d012a;
    margin-right: 10px;
}
.EnergySpot {
  font-size: 16px;
  padding: 11px 20px;
  border-radius: 5px;
  color: white;
  background-color: #190b3a;
  border:0;
  cursor: pointer;
}

.modernChakra {
  display: flow-root;
    font-size: 19px;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.programmed img {
  width: 97%;
  margin: auto;
}

details p {
  color: white;
}

details summary {
  cursor: pointer;
  font-size: 18px;
}

details summary::after {
  /* content: "∨"; */
  font-size: 16px;
  margin-left: 10px;
}

details.open summary::after {
  /* content: "∧;"; */
}

/* The grid container */
.figure-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 10px;
  margin-bottom: 36px;
  border-bottom: 1px solid #360e97;
  padding-bottom: 36px;
  box-shadow: 1px 2px 3px #29125f;
  border-radius: 6px;
  padding: 14px 5px;
}

/* The figure */
figure {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* The figure image */
figure img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  box-shadow: 1px 2px 3px #29125f;
  cursor: pointer;
}

figure figcaption {
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
  /* font-size: 25px; */
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background-image: linear-gradient(to right, #73b2f3,  #fa9785, #ffea9e );
  background-size: 100% 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  }

  input[type="range"]:focus {
  outline: none;
  }

  input[type="range"]::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 1px solid #828282;
  height: 10px;
  width: 20px;
  border-radius: 50%;
  }

.chakra-card {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  border-radius: 6px;
  box-shadow: 1px 2px 3px #29125f;
  margin-top: 20px;
}

#passwordHolder {
  font-size: 19px;
  width: 232px;
  padding: 5px 9px;
}

#show {
  padding: 10px 20px;
  background-color: #29125f;
  font-size: 19px;
  border: 0;
  color: white;
  border-radius: 5px;
  margin-top: 15px;
}

.chakra-card h2 {
    text-transform: uppercase;
    font-size: 20px;
}

.feature {
    font-size: 20px;
    color: white;
    text-align: center;
}

ul {
  padding-left: 10px;
  line-height: 21px;
  list-style: none;
}

.review {
  padding:20px;
  box-shadow: 1px 2px 3px #29125f;
  border-radius: 6px;
  margin-bottom: 20px;
}

#chakraForm, .description, .chakraForm {
  padding:16px;
  box-shadow: 1px 2px 3px #29125f;
  border-radius: 6px;
  margin-bottom: 20px;
}
#chakraForm p {
    border-bottom: 1px solid #360e97;
    padding-bottom: 20px;
    text-align: center;
}

p.heroe {
    color: white;
    font-size: 17px;
    text-transform: capitalize;
}

.advanced {
  margin-top: 0;
  text-transform: capitalize;
  color: white;
  font-size: 25px;
  font-weight: 400;
}

h2 {
  margin-top: 0;
  text-transform: capitalize;
  color: white;
  font-size: 25px;
  font-weight: 400;
}

p {
    font-size:16px;
    color: white;
}
label {
    display: flow-root;
    font-size: 19px;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

/* Add additional styles as desired */
.chakraCards {
  text-align: center;
  padding: 16px;
}  
.instruction {
  font-weight: normal;
  font-size:16px;
}

.submit {
  color: #ffffff;
  background-color: blue;
  font-size: 16px;
  padding: 10px 20px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.container-cunt {
  display: flex;
  justify-content: space-between;
  }

  .container-inner {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 20px;
}

.container-inner img {
  background-color: white;
}

  .left,
  .center,
  .right {
  width: 33.33%;
  padding: 10px;
  }
  .left {
      color: #ffea9e;
      text-align: left;

  }
  .center {
      text-align: center;
      color: #fa9785;
  }
  .right {
      color: #a1bad4;
      text-align: right;
  }
 
.hidden {
  display: none;
}


.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 9, 62, 0.99);
}

.lightbox-content {
  position: relative;
  margin: 10% auto;
  max-width: 80%;
  max-height: 80%;
}

.close-button {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  visibility: hidden;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
  cursor: pointer;
}

.audio-player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
  /* height: 30vh; */
}
.takeme {
  text-align: center;
  margin-top: 40px;
}

.programmed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pro {
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.programmed img {
  box-shadow: none;
}

.ForAdvanced {
  color: #fff;
  text-align: center;
}

.timer-button {
  font-size: 16px;
    padding: 10px 20px;
    border-radius: 3px;
    border: 0;
    color: white;
    background: #210c54;
    text-transform: uppercase;
}

/* Font style referance */

.poppins-thin, label {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light, input, button {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular, details p, .instruction, p {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium, details summary, h2 {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold, figure figcaption {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold , .review h2 {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black, .advanced, .ForAdvanced {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic, .head {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic, #chakraCards p strong{
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic, .headi {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}
